* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: poppins-extralight, sans-serif;
}

html {
    overflow-x: hidden !important;
    animation: fade-in 1.5s;
}

body {
    overflow-x: hidden !important;
    padding-top: 150px;
}

main {
    margin-bottom: 50px;
}

/* Animations start || */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn-afterHtml {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        position: relative;
        top:500px;
    }

    50% {
        opacity: 0;
        position: relative;
        top: 200;
    }

    100% {
        opacity: 1;
        position: relative;
        top: 0;
    }
}

@keyframes popup2 {
    0% {
        opacity: 0.8;
    }    

    100% {
        opacity: 1;
    }
}

/* Animations end |\ */


/* Fonts || */

@font-face {
    font-family: poppins-extralight;
    src: url(./Fonts/poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(./Fonts/poppins/Poppins-SemiBold.ttf);
}

/* Fonts end |\ */



/* header start || */

.login-div a, .header-bottom ul, .login-contact-div, .logo-name-menu, .logo-name, .header-top, .contact-icons {
    display: flex;
}

.login-div a, .logo-name, .logo-name-menu, .header-top {
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-top {
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
}

/* From Uiverse.io by LeonKohli */ 
.ui-input-container {
    position: relative;
    width: 300px;
  }
  
  .ui-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
  }
  
  
  
  .ui-input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  .ui-input-underline {
    transform: scaleX(1);
  }
  
  .ui-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: color 0.3s;
  }
  
  .ui-input-icon svg {
    width: 20px;
    height: 20px;
  }
  

.logo-svg {
    width: 56px;
    height: 68px;
}

.logo-name {
    gap: 20px;
}

.logo-name h1 {
    font-size: 27px;
    font-family: poppins-semibold, sans-serif;
}

.logo-name h2 {
    font-size: 16px;
    color: #1D1D36;
    font-weight: 100;
}

.logo-name-menu {
    justify-content: space-between;
    gap: 40px;
}

.burger-menu span {
    width: 30px;
    height: 5px;
    background-color: #1D1D36;
}

.login-contact-div {
    gap: 30px;
}

.login-div a {
    color: #1D1D36;
}

.contact-icons img {
    width: 27px;
    height: 27px;
}

.contact-icons, .login-div a {
    gap: 10px;
}

.header-bottom {
    background-color: #1D1D36;
    padding: 8px 0px;
}

.header-bottom nav {
    display: block;
    width: fit-content;
    margin: auto;
}

.header-bottom ul {
    gap: 30px;
}

.header-bottom li a {
    color: #ffffff;
    padding: 3px 5px;
}

.header-bottom a:hover {
    color: #A4A3E7;
}

.burger-menu {
    display: none;
    padding: 2px;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger-menu-list {
    display: none;
    width: 60%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    padding: 20px;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    box-shadow: 10px 10px 10px #000000;
}

.burger-menu-main-list {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: space-between;
    align-items: end;
}

.burger-menu-main-list>a {
    color: #000000;
}

.burger-menu-main-list nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: end;
}

.burger-menu-main-list nav ul li a, .log-in-logo a {
    color: #000000;
}

.burger-menu-main-list nav {
    height: 100%;
}

.burger-menu-close {
    align-self: flex-end;
    justify-self: start;
}

.burger-menu-list .log-in-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}


/* header end |\ */



/* footer start ||*/

.footer-logo h2 {
    color: #ffffff;
    font-size: 27px;
}

.footer-logo h3, .footer-nav li a, .social-icon a, .contact-details p {
    font-size: 16px;
    color: #ffffff;
}

.bottom-footer {
    background-color: #ffffff;
    padding: 20px 0px;
}

.bottom-footer p {
    text-align: center;
}

.bottom-footer a {
    text-decoration: underline;
    color: #000000;
}

.top-footer {
    background-color: #1D1D36;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
}

.footer-logo a img {
    width: 71px;
}

.footer-logo>a{
    display: flex;
    gap: 10px;
}

.footer-nav ul {
    display: flex;
    gap: 30px;
}

.footer-nav div, .social-icon, .contact-details>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-nav, .footer-social-icons, .contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-nav h2, .footer-social-icons h2, .contact-details h2 {
    color: #A4A3E7;
    font-size: 16px;
    animation: popup 1.5s;
}

.footer-nav nav, .social-icon, .contact-details div {
    animation: popup 3s;
}

/* footer end |\ */




/* header responsive start || */

@media screen and (max-width: 1025px){
    .burger-menu {
        display: flex;
    }

    .login-contact-div {
        display: none;
    }

    .header-bottom {
        display: none;
    }

}

@media  screen and (max-width:769px) {
    .header-top {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .ui-input-container, .logo-name-menu {
        align-self: flex-start;
        width: 100%;
    }
}

@media screen and (max-width:376px) {
    .logo-svg {
        width: 40px;
        height: auto;
    }

    .logo-name h1 {
        font-size: 20px;
    }

    .logo-name h2 {
        font-size: 13px;
    }

    .logo-name-menu {
        gap: 10px;
    }
}

/* header responsive end |\ */



/* responsive footer start || */

@media screen and (max-width:1025px) {
    .top-footer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-columns: 33vw;
        row-gap: 40px;
    }

    .footer-logo {
        grid-row: 1/2;
        justify-self: unset;
    }

    .footer-nav, .contact-details, .footer-social-icons {
        grid-row: 2/3;
        justify-self: center;
    }

}

@media screen and (max-width:650px) {
    .top-footer {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 50vw;
    }

    .footer-logo {
        justify-self: center;
        align-self: center;
    }

    .footer-logo, .footer-nav {
        grid-row: 1/2;
    }

    .footer-social-icons, .contact-details {
        grid-row: 2/3;
    }
}

@media screen and (max-width:541px) {
    .top-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .footer-nav ul div, .footer-social-icons div, .contact-details div {
        align-items: center;
    }

    .contact-details h2 {
        text-align: center;
    }
}

@media screen and (max-width:310px) {
    .contact-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }    
}